// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-form {
    height: 100%; 
    background-color: #4a154b;
}


.header{
    padding: 48px 0px 40px; 
    .header-nav{
        display: flex; 
        width: 200px; 
        margin: auto; 
        background-color: #4a154b;
        
        .logo{
            margin: auto; 
            margin-left: 0px;
            margin-right: 5px; 
           
            width: 30%;
            height: auto; 
        }
    
        .session-form-title {
            size: 36px; 
            color: #fff;
            font-family: 'Poppins', sans-serif;;
            font-weight: bolder; 
            letter-spacing: 1px;
            margin: auto; 
            margin-left: 0px;
            margin-right: 0px; 
            font-size: 30px; 
            background-color: #4a154b;
     
        }
    } 

}

.session-form-instructions{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
    color: #fff; 
    display: block; 
    font-size: 48px; 
    line-height: 46px;
    max-width: 700px;
    text-align: center;
    margin: auto; 
    margin-bottom: 32px; 

}

.session-form-email{
    
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #fff; 
    margin-bottom: 10px;
     
}

.session-form-password{
   
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px; 
}

.session-form-name{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
}



.inputs {
    display: flex; 
    flex-direction: column;
    width: 400px;
    height: 370px; 
    margin: auto; 

    .email-input{
        width: 100%;
        height: 36px;  
        border: 1px solid black; 
        padding: 11px 12px 13px;
        box-sizing: border-box; 
        font-size: 18px;
        margin-bottom: 20px; 
        border-radius: 4px; 
        
    }

    .email-input:focus {
        box-shadow: 0px 0px 0px 3px rgba(29,155,209,.3); 
        outline: none; 
    }
    
    .password-input{
        width: 100%; 
        height: 36px;  
        border: 1px solid black; 
        padding: 11px 12px 13px;
        box-sizing: border-box; 
        font-size: 18px;
        margin-bottom: 20px; 
        border-radius: 4px;
    
    }

    .password-input:focus {
        box-shadow: 0px 0px 0px 3px rgba(29,155,209,.3); 
        outline: none; 
    }
    
     .name-input{
        width: 100%; 
        height: 36px;  
        border: 1px solid black; 
        padding: 11px 12px 13px;
        box-sizing: border-box; 
        font-size: 18px; 
        margin-bottom: 20px; 
        border-radius: 4px;
        margin-top: 10px; 

    }

    .session-form-button{
        color: #fff;
        cursor: pointer; 
        align-items: center; 
        background-color: #4a154b;
        width: 100%; 
        height: 36px;
        font-size: 18px; 
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: uppercase;
        padding: 5px 5px 5px; 
        border-radius: 4px;
        
        border: solid 1px #fff;
        
        cursor: pointer;
        outline: none;
    }


    a{
        text-align: center;
        margin-top: 20px; 
        color: #36C5F0; 
    }

    .session-errors{
        text-align: center;
        font-family: 'Source Sans Pro', sans-serif;
        color: red; 
        margin-top: 15px; 
        font-size: 16px; 


    }
}

.demo-user{
    margin-top: 15px; 
}

